<div class="container-fluid">
  <div class="table-responsive" style="margin-top: 20px;">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Horario</th>
          <% days.each_with_index do |name| %>
            <th><%= name %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% hours.each do |hour| %>
         <tr>
           <th scope="row"><%= hour %></th>
           <% days.each_with_index do |name, day_id| %>
             <% scheduling = resolve_schedule(hour, day_id) %>
             <td data-hour="<%= hour %>" data-day_id="<%= day_id %>">
             <% if scheduling.present? %>
                 Reservado para <%= scheduling.user.name %>

                  <% if current_user.id.eql?(scheduling.user_id) %>
                    <%= link_to(schedule_room_week_path(@room.id, @week.id), class: "remove_sched") do %>
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <% end %>
                  <% end %>

             <% else %>

                <% if user_signed_in? %>
                    <%= link_to "Disponível",
                       schedule_room_week_path(@room.id, @week.id), 
                       class: "sched",
                       "data-hour": hour,
                       "data-day_id": day_id         
                    %>
                <% else %>
                  Disponivel
                <% end %>

             <% end %>
           <% end %>
           </td>
         </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
